
body{
  background-color: hotpink;
}

@media(max-width:1400px){
  body{
    background-color: yellow;
  }
}


@media(max-width:1000px){
  body{
    background-color: green;
  }
}
@media(max-width:800px){
  body{
    background-color: red;
  }
}
@media(max-width:600px){
  body{
    background-color: blue;
  }
}
